//probando esta wea

.hero div p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    size: 35px;
}

.grid-bienvenidos p p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    size: 35px;
}

footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    size: 25px;
}

.servicios p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    size: 35px;
}

.tienda p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    size: 35px;
}

.especialidades p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    size: 35px;
}